{% extends 'base.html' %}

{% block title %} | User Dashboard {% endblock %}

{% block content %}

 <!-- Alerts -->
 {% include 'partials/_alerts.html' %}

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-6">User Dashboard</h1>
          <p class="lead">Manage your Mail App account</p>
        </div>
      </div>
    </div>
  </section>

  <section id="bc" class="mt-3">
    <div class="container">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
              <p>
                 Welcome {{ user.first_name }}
			  </p>
			{% endif %}
              <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
	<!-- BEGIN INBOX -->
	<div class="col-md-12">
		<div class="grid email">
			<div class="grid-body">
				<div class="row">
					<!-- BEGIN INBOX MENU -->
					<div class="col-md-3">
						<h2 class="grid-title"><i class="fa fa-inbox"></i> Inbox </h2>
						<a class="btn btn-block" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i>&nbsp;&nbsp;NEW MESSAGE</a>

						<hr>

						<div>
							<ul class="nav nav-pills nav-stacked">
								<li class="header">Folders</li>
								<li class="active"><a href="#"><i class="fa fa-inbox"></i> Inbox </a></li>
								<li><a href="#"><i class="fa fa-mail-forward"></i> Sentbox</a></li>
							</ul>
						</div>
					</div>
					<!-- END INBOX MENU -->
					
					<!-- BEGIN INBOX CONTENT -->
					<div class="col-md-9">
						<div class="row">
							<div class="col-sm-6">
								<label style="margin-right: 8px;" class="">
									<div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="check-all" class="icheck" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
								</label>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										Action <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Delete</a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="padding"></div>
						
						<div class="table-responsive">
							{% if mails %}
							<table class="table">
								<tbody>
									{% for mail in mails %}
									{% if mail.to_id == user.to_id %}
									<tr>
									<td class="action"><input type="checkbox" /></td>
									<td class="from_id"><a href="#">{{ mail.from_id }}</a></td>
									<td class="subject"><a href="#">{{ mail.subject }} </a></td>
									<td class="time">{{ mail.time_stamp }} </td>
								</tr>
								{% endif %}
								{% endfor %}
							</tbody></table>
							{% else %}
							<p>There are no messages to display</p>
							{% endif %}
						</div>					
					</div>
					<!-- END INBOX CONTENT -->
					
					<!-- BEGIN COMPOSE MESSAGE -->
					<div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-wrapper">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header bg-blue">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title"><i class="fa fa-envelope"></i> Compose New Message</h4>
									</div>
									<form action="" method="POST">
										{% csrf_token %}
            							{% if user.is_authenticated %}
             								 <input type="hidden" name="user_id" value="{{ user.id }}">
            							{% else %}
             									<input type="hidden" name="user_id" value="0">
            							{% endif %}
										<div class="modal-body">
											<div class="form-group">
												From:<input type="email" name="from_id" class="form-control" value="{{ user.email }}">
											</div>
											<div class="form-group">
												To:<input type="email" name="to_id" class="form-control" placeholder="To" required>
											</div>
											<div class="form-group">
												Subject:<input name="subject" type="subject" class="form-control" placeholder="Subject" required>
											</div>
											<div class="form-group">
												Body:<input name="body" id="body" class="form-control" placeholder="Message" style="height: 120px;" required>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>
											<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-envelope"></i> Send Message</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- END COMPOSE MESSAGE -->
				</div>
			</div>
		</div>
	</div>
	<!-- END INBOX -->
</div>
</div>
		  </ul>
		  
		  <p>
			<a href="javascript:{document.getElementById('logout').submit()}">
				Sign Out
			  </a>
			  <form action="{% url 'logout' %}" method="POST" id="logout">
				{% csrf_token %}
			  </form>
		</p> 
	</div>
  </section>

{% endblock %}