<!-- templates/home.html-->
{% extends 'base.html' %}

{% load static %}
{% load humanize %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

{% block title %} | Welcome {% endblock %}

{% block content %}
  <p>
    Welcome to My Mailing App!
    <br><br>
    You are not logged in
  </p>

  <a href="{% url 'login' %}">Log In</a><br>
  <br>
  <a href="{% url 'signup' %}">Sign Up</a>
{% endblock %}